# Code owners are requested for review automatically on matching PRs.
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
*       @apachler
